body {
    height: 100%;
    background-color: #f3f0ef!important
}

nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #f3f0ef;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #f3f0ef;
}

nav.topnav ul li a {
    position: relative;
}

nav.topnav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.topnav ul li a:hover:after {
    width: 100%;
}

.navcontainer {
    position: absolute;
    width: auto;
}

#hero-image {
    background-image: url('../images/supsup-hero-largejpg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 865px;
    width: 100%;
    position: relative;
    justify-content: center;
    text-align: center;
    display:flex;
    overflow: hidden;
}

.hero-text {
    max-width: 75%;
    margin-bottom: 452px;
    margin-top: 190px;
}

.hero-text h1 {
    font-family: 'Ranchers', sans-serif;
    font-size: 80px;
    color:#f3f0ef ;
}

.hero-text h2 {
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #f3f0ef;
    padding-top: 12px;
    margin-top: 39px;
    margin-bottom: 116px;
    text-transform: uppercase;
}

#finder-btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    margin: 4px 2px;
    border-style: solid!important;
    border: #f3f0ef!important;
    text-transform: uppercase;
}

#finder-btn a:hover{
    background-color: white;
    color: #0a0a0a;
}

/*-------------------------------------------------Inner*/
.info-header {
    font-family: 'Ranchers', sans-serif;
    font-size: 40px;
    color: rgb(49, 49, 49);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.info1 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: rgb(49, 49, 49);
    padding-bottom: 25px;
}

.image-item img{
    width:600px ;
    height:420px;
    object-fit: cover;
}

.info1 p a{
    color:hsl(243, 88%, 19%)
}

/*-------------------------------------------------quiz and map*/
#questionnaire {
    height: 500px;
    max-width: 90%;
    border: 2px solid;
    border-radius:25px;
    box-shadow: 0 0 10px 2px;
    padding-top: 20px;
    background-image: url('../images/finder-tool-backdrop.jpg');
    background-position: bottom;
    background-size: cover;
}

/*-------------------------------------------------quiz*/
#quiz{
    height: 440px;
}

#question {
    height: 100px;
    font-family: 'Ranchers', sans-serif;
    font-size: 40px;
}

#question-container{
    height: 231px;
    margin-top: 50px;
}

#start-btn{
    width: 200px;
    font-family: 'Ranchers', sans-serif;
    font-size: 40px;
    margin-top: 180px;
    background-color: hsl(27, 88%, 66%);
    color: #0a0a0a;
    letter-spacing: 1px;
}

#restart-btn{
    border-color: #0a0a0a;
    font-family: 'Ranchers', sans-serif;
    font-size: 25px;
    background-color: hsl(27, 88%, 66%);
    width: 100px;
}

#next-btn{
    border-color: #0a0a0a;
    font-family: 'Ranchers', sans-serif;
    font-size: 25px;
    background-color: hsl(27, 88%, 66%);
    width: 100px;
}


#opt1{
    border-color: #0a0a0a;
    font-family: 'Ranchers', sans-serif;
    font-size: 25px;
    background-color: hsl(27, 88%, 66%);
}

#opt2{
    border-color: #0a0a0a;
    font-family: 'Ranchers', sans-serif;
    font-size: 25px;
    background-color: hsl(27, 88%, 66%);
}

#opt3{
    border-color: #0a0a0a;
    font-family: 'Ranchers', sans-serif;
    font-size: 25px;
    background-color: hsl(27, 88%, 66%);
}

.nav-btn-container{
    margin: 50px 0;
}

.hide{
    display: none !important;
}


#result{
    position: relative;
    font-family: 'Ranchers', sans-serif;
    min-height: 455px;
    border-radius: 25px;
}

#result-top{
    font-family: 'Ranchers', sans-serif;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
}

#result-text {
    color: #b41412;;
    font-family: 'Ranchers', sans-serif;
    font-size: 23px;
    letter-spacing: 0.05em;
}

#result-bottom {
    font-size: 19px;
    font-family: 'Ranchers', sans-serif;
    letter-spacing: 0.05em;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

/*-------------------------------------------------------map*/

#map {
    height :457px;
    width: 31%;
}

/*-------------------------------------------------footer*/
.footer-bottom {
    margin: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    height: 250px;
}

.logo-footer-text h2 {
    color: rgb(49, 49, 49);
    font-family: 'Ranchers', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-bottom:0px;
}

.social-networks {
    text-align: center;
    margin-right: 32px;
    margin-top: 0px;
    height: 85px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 340%;
    margin: 1%;
    padding: 5%;
    color: rgb(49, 49, 49);
}

.social-networks i:hover{
    color: hsl(27, 88%, 66%);
}

.footer-contact{
    color: rgb(49, 49, 49);
    margin-bottom: 0;
}

.social-networks a:hover{
    color: hsl(27, 88%, 66%);
}

.footer-contact{
    text-align: center;
    color: rgb(49, 49, 49);
    height: 110px;
    margin-top: 85px;
}

.footer-contact a{
    color: rgb(49, 49, 49);
    text-decoration:none;
    font-family: 'Ranchers', sans-serif;
    font-size: 35px;
}

.footer-contact a:hover{
    color: hsl(27, 88%, 66%);
}

.footer-contact address{
    margin-bottom: 0;
    font-family: 'Ranchers', sans-serif;
}

/*////////////Media Queries //////////////////////////*/

@media only screen and (max-width: 768px){

nav ul li a {
    font-weight: 600;
    font-size: 17px;
}

.hero-text h1{
    font-size: 50px;
}
    
#hero-image{
    height: 565px;
}

.hero-text h2{
    font-size: 14px;
    margin-bottom: 20px;
}

.finder-btn{
    font-size: 13px;
}

.image-item img{
    padding-bottom: 10px;
    height: 260px;
}

.info1{
    font-size: 17px;
    text-align: center;
}

#map{
    width: 100%;
    padding: 0 5px;
    border-top-left-radius:0px !important;
    border-top-right-radius:0px!important;
    border: none!important;
}

#questionnaire{
    height: 920px;
    max-width: 100%;
}

#quiz{
    width: 100%;
}

.option-buttons{
    font-size: 20px;
}

#question {
    font-size: 30px;
}

#restart-btn{
    font-size: 15px;
}

#next-btn{
    font-size: 15px;
}

#result{
    min-height: 430px;
}

#result-text{
    margin-bottom: -10px;
    font-size: 18px;
}

.controls{
    margin-bottom: 20px;
}

#result-bottom{
    font-size: 18px ;
}
}

@media screen and (min-width: 1920px) {

.hero-text h2{
    margin-bottom: 39px;
}
}