#main-heading {
    color: rgb(78, 169, 197);
    font-family: 'Ranchers', cursive;
    font-size: 60px;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;